<% current_user.merchant.discounts.each do |discount| %>
<p><%= link_to "#{discount.name}", "/merchant/discounts/#{discount.id}/show" %></p>
<%= link_to "Create Discount", "/merchant/#{current_user.merchant_id}/discounts" %>
<%= link_to "Delete Discount", "/merchant/#{current_user.merchant_id}/discounts", method: :delete %>
<% end %>
<br>
<%= link_to "Create Discount", "/merchant/#{current_user.merchant_id}/discounts" %>
