<p>Discount name: <%= @discount.name %></p>
<p>Percentage off: <%= @discount.percent %></p>
<p>Number of items needed: <%= @discount.num_of_items %></p>
<%= link_to "Edit Discount", "/merchant/discounts/#{@discount.id}/edit" %>
